body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
}

#grid {
    display: grid;
    width: 650px;
    height: 650px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 6px;
    margin: auto;
}

#cells {
    display: flex;
    width: 5.5%;
    flex-grow: 1;
    background-color: white;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    font-size: 24px;
    text-decoration: none;
    border: none;
    width: 150px;
    height: 50px;
    background-color: tan;
}

button:hover {
    background-color: #F90;
    transform: scale(1.2);
}

.active {
    background-color: #F90;
    border: 2px solid yellow;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.slider > p {
    font-size: 20px;
    margin-bottom: -3px;
}

#colorChoice {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    overflow: hidden;
}

input[type='color'] {
    width: 100%;
    height: 100%;
    background: repeat;
}

#colorChoice:hover {
    transform: scale(1.2);
}

#pixels {
    user-select: none;
}